<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <p>Estás buscando: <strong>{{query}}</strong></p>
    {%if articulos%}
    <p>Articulos encontrados: {{articulos | length}} articulos</p>
    <ul>
        {%for articulo in articulos%}
        <li>{{articulo.nombre}}</li>
        <li>Seccion: {{articulo.seccion}}</li>
        <li>Cuesta {{articulo.precio}}€</li>
        {%endfor%}
    </ul>
    {%else%}
    <p>No está el artículo entcontrado</p>
    {%endif%}
</body>

</html>